@using PartsUnlimited.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<!-- <h2>@ViewBag.Title.</h2> -->
<div class="vertical-spreader60"></div>
<!-- <div class="row"> -->
    <!-- <div class="col-md-8"> -->
<!-- <div style="width: 35%; margin: auto;"> -->
    <!-- <div> -->
    <div class="card-shadow login-container">
        <div class="login-left-container">
            <span>Login</span>
            <span class="login-message">Get access to your Orders, Wishlist and Recommendations</span>
            <div style="display:flex; justify-content:center;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2N653dmY_TJxfWsyEgzw9l1lL6WfUvcJonX5fKzfog66ZwyGu" style="border-radius:150px; width:50%;"/>
            </div>
        </div>
        <section id="loginForm" class="justify-div-center card-shadow" style="width: 65% !important; heigth: 100% !important;">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal justify-div-center" role="form">
                    <h4 class="text-in-center">Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="justify-div-center"></label>
                        <div>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="justify-div-center"></label>
                        <div>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="justify-div-center">
                            <div class="checkbox justigy-div-center">
                                <input asp-for="RememberMe" />
                                <label asp-for="RememberMe"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="justify-div-center">
                            <input type="submit" value="Log in" class="btn btn-default justify-div-center" style="width:100% !important; box-shadow: 0 1px 2px 0 #000;" />
                        </div>
                    </div>
                    <p class="text-in-center">
                        <a  asp-action="Register">Register as a new user?</a>
                    </p>
                    <p class="text-in-center">
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
            </form>
        </section>
    </div>
    
<div class="vertical-spreader30"></div>
    <!-- </div> -->
    <!-- <div class="col-md-4">
        <section id="socialLoginForm">
            @await Html.PartialAsync("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div> -->
<!-- </div> -->


