@{
    ViewBag.Title = "Order Placed";
}
<div class="vertical-spreader60"></div>
<section class="card-shadow justify-div-center">
    <h1 class="text-in-center">Order Placed</h1>
    <div>
        <div>
            <h3 class="text-success text-in-center">Order Placed Successfully</h3>
        </div>
    </div>
</section>