// $color-primary: #81bc0d;
// $color-inverse: #08a6f0;
$color-primary: #6aa74f;
$color-inverse: #0e5294;
$color-white: #EEEEEE;
$color-black: #222222;
$color-error: #B94A48;
$color-background: #f1f3f6;
$color-rule: #D1D1D1;
$color-inverse-background: #2A2A2A;
$color-bar-background: #6aa74f;
$font-secondary:  'Proxima Nova', Tahoma, Geneva, Verdana, sans-serif;
$font-primary: 'Proxima Nova', $font-secondary;
$font-primary-weight: 300;
$font-primary-bold: 'Proxima Nova', $font-primary;
$font-primary-bold-weight: 400;
$size-mobile-max: 767px;
$size-tablet-max: 992px;
$size-desktop-max: 1200px;